* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-bottom: 69px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

header {
    background-color: white; 
    margin: 0 auto; 
}

.logo img{
    margin: 1em;
    cursor: pointer;
    height: 2.5em;
}

.hero{
    position: relative;
}

.heroimg {
    display: none;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    min-width: 300px;
}

.button {
    cursor: pointer;
    color: #fff;
    background-color: #555;
    padding: 0.6em;
    transform: translate(0, -50%);
}

.button:hover {
    color: #000;
    background-color: #fff;
    opacity: 1;
}

#leftbutton {
    position: absolute;
    top: 50%;
    left: 0;
}

#rightbutton {
    position: absolute;
    top: 50%;
    right: 0;
}

main {
    margin: 0 auto;
    padding: 0 1.1em 1em 1.1em;
    text-align: center;
    max-width: 720px;
}

main div {
    margin-top: 1.2em;
}

.headline {
    display: inline-flex;
    margin: 0.2em auto;
    border: 3px solid black;
    padding: 0.2em 0.4em;
}

.blue {
    padding: 0.8em;
    background-color: #465a75;
}

.blue h2 {
    color: #e9425c;
    margin: 0 0 0.1em 0;
}

.blue p {
    color: #fff;
    text-align: left;
    margin: 0 0 1.5em 0;
}

.headline_white {
    display: inline-flex;
    color: white !important;
    margin: 0.2em auto;
    padding: 0.2em 0.4em;
    border: 3px solid white;
}

main img {
    margin: 0 auto;
    width: 100%;
    min-width: 280px;
    max-width: 960px;
}

footer {
    margin: 0;
    padding: 0.2em 1em;
    background-color: #183152;
}

footer p {
    color: #fff;    
}

.emphasis{
    color: #e9425c;
}

.grouptext p {
    margin: 0;
}

.logo_adress {
    display: flex;
}

.logo_adress img{
    margin: 0.4em 0;
    height: 3em;
}

#news{
    display: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    font-size: 1em;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: #465a75;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
  
#myBtn:hover {
    background-color: #555;
}

.iconcredit {
    font-size: 0.6em;
    margin: 1em;
    color: #fff;
}

.iconcredit a {
    color: #e9425c;
    text-decoration: none;
}

.navbar{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    background-color: #e9425c;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

.navbar a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    float: left;
    display: block;
    text-align: center;
    padding: 0.5em;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #555;
    color: black;
}

.navbar a.active {
    background-color: #465a75;
    color: white;
}

.navbar img{
    height: 1.8em;
    margin: 0 auto;
    display: block;
}

.hamburger{
    right: 15px; 
    background-color: white; 
    padding: 0 0.5em;
}

.hamburger ul{
    display: none;
}

.stickyheader{
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex img{
    max-width: 400px;
}

.flex div{
    margin: 0.3em;
}

@media only screen and (min-width: 600px) {
    .stickyheader {
        position: fixed;
    }

    .hamburger ul {
        display: flex;
    }

    .hamburger ul li{
        margin: 0.5em;
    }

    .navbar{
        display: none;
    }

    body{
        padding: 75.84px 0 0 0;
    }

    .flex img{
        width: 240px;
    }
}